.title {
    font-family: 'Open Sans Condensed', serif;
    font-size: 36px;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    color: grey;
    transition-duration: 0.5s;
}
@media screen and (max-width: 425px) {
    .title {
        font-size: 20px;
    }
}
.title:hover {
    color: black;
}
.cardType {
    font-family: 'Quicksand', serif;
    text-align: center;
    font-size: 15px
}
@media screen and (max-width: 425px) {
    .cardType {
        font-size: 10px;
    }
}
.cardType button {
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 1vh;
    transition-duration: 0.3s;
}
.cardType button:hover {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}

.colorSelector {
    height: 17px;
    margin-top: 1vw;
    text-align: center;
}
.color {
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 50%;
    transition-duration: 0.1s;
}
#blue {
    background-color: #dde9ff;
}
#yellow {
    background-color: #fff3c6;
}
#red {
    background-color: #ffd6d6;
}
#gray {
    background-color: #d8d8d8;
}

#heartfeltMessage {
    padding: 0 5vw;
    color: #b2b2b2;
    font-family: 'Rouge Script', cursive;
    font-size: 52px;
    margin-top: 20vh;
    text-align: center;
    transition-duration: 0.1s;
    height: 45vh;
}
@media screen and (max-width: 768px) {
    #heartfeltMessage {
        margin-top: 15vh;
        height: 60vh;
    }
}
@media screen and (max-width: 425px) {
    #heartfeltMessage {
        font-size: 44px;
        margin-top: 10vh;
    }
}



.butWhy {
    color: grey;
    font-family: 'Quicksand', serif;
    text-align: center;
    font-size: 11px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #b2b2b2;
}
@media screen and (max-width: 425px) {
    .butWhy {
        font-size: 9px;
    }
}
.butWhy h4 {
    font-family: 'Open Sans Condensed', serif;
    font-size: 15px;
}
.butWhy *:hover {
    transition-duration: 0.1s;
    color: black;
}
